n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "replenishment-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "010469af-f934-477a-b884-f2c69006bba6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        100
      ],
      "webhookId": "c7e7e5a8-7614-4a24-9c95-ae4169742a70"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "value2": "low_stock_replenishment_request"
            }
          ]
        }
      },
      "id": "9f6a8978-5aa5-4ec9-b3b8-7af6af4a44ea",
      "name": "Validate Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -420,
        100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "from": "whatsapp:+14155238886",
        "to": "whatsapp:{{$json[\"data\"][\"supplier\"][\"phone\"]}}",
        "body": "🚨 Solicitud de reabastecimiento:\nProducto: {{$json[\"data\"][\"product\"][\"name\"]}}\nCantidad: {{$json[\"data\"][\"quantity\"]}} {{$json[\"data\"][\"product\"][\"unit\"]}}\nProveedor: {{$json[\"data\"][\"supplier\"][\"name\"]}}",
        "options": {}
      },
      "id": "73995617-3de6-48e2-ae5b-ac00d6c1de05",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -200,
        -20
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Solicitud de reabastecimiento enviada por WhatsApp\"}",
        "options": {}
      },
      "id": "b177ae95-d559-42e2-af1e-d13bb0e68010",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20,
        -20
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "from": "whatsapp:+14155238886",
        "to": "whatsapp:{{$json[\"data\"][\"supplier\"][\"phone\"]}}",
        "body": "❌ Error: Tipo de evento no válido. Evento recibido: {{$json[\"event\"]}}",
        "options": {}
      },
      "id": "7eff1f67-4e99-4788-9c58-3fd4ad22c548",
      "name": "Send WhatsApp Error",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"message\": \"Tipo de evento no válido\", \"received_event\": \"{{ $json[\"event\"] }}\"}",
        "options": {}
      },
      "id": "1930dc89-95bb-404a-9f7e-c44a794308d7",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "320d2d90b35d5deda765755864dbb18c02ce4d3dd7e410b42c109cb52db1b81b"
  }
}